<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite parallel="false" name="Suite">
  <test name="TestMorning">
    <groups>
    <run>
      <include name="sanitytest"/>
    </run>
  </groups>
    
    
    <classes>
      <class name="testNGTestCases.HomePageTests"/>
       <class name="testNGTestCases.OrangeHrmLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->